
LaTeX Files/.firstpages.ptd
LaTeX Files/.main_report.ptd
LaTeX Files/abstract.aux
LaTeX Files/app1.aux
LaTeX Files/chap1.aux
LaTeX Files/chap2.aux
LaTeX Files/firstpages.aux
LaTeX Files/firstpages.log
LaTeX Files/firstpages.pdf
LaTeX Files/firstpages.synctex
LaTeX Files/firstpages.tex
LaTeX Files/main_report.aux
LaTeX Files/main_report.log
LaTeX Files/references.aux
LaTeX Files/preamble.aux
LaTeX Files/main_report.toc
LaTeX Files/main_report.synctex
LaTeX Files/main report.pdf
LaTeX Files/main_report.pdf
LaTeX Files/main_report.blg
LaTeX Files/chap1.log
LaTeX Files/main_report.bbl
LaTeX Files/main_report.synctex.gz
LaTeX Files/chap4.aux
*.aux
*.log
LaTeX Files/main_report.synctex(busy)
LaTeX Files/.chap2.ptd
LaTeX Files/.chap3.ptd
LaTeX Files/.chap4.ptd
LaTeX Files/.chap5.ptd
LaTeX Files/.chap7.ptd
LaTeX Files/.chap6.ptd
LaTeX Files/.chap1.ptd
LaTeX Files/.chap0.ptd
LaTeX Files/.abstract.ptd
*.ptd
LaTeX Files/references.blg
LaTeX Files/chap9.blg
